{% extends 'base.html.twig' %}

{% block title %}Wakdo - Bienvenue sur l'interface de gestion des restaurants{% endblock %}

{% block body %}
<div class="page-container container-full flex gap direction-column align-center">
    <h1>Restaurant {{ restaurant.nom }}</h1>
    <div class="large-12-12 flex gap justify-between">
        <a class="button secondary" href="{{ path('app_accueil') }}" title="Retour à la liste">Retour à la liste</a>
    </div>
    <div class="large-12-12 flex gap justify-between">
        <div class="large-6-12">
            <img class="responsive" src="{{ asset(images_affichage_directory_restaurant ~ restaurant.photo) }}" alt="">
        </div>
        <div class="description-article large-6-12 flex gap direction-column justify-between">
            <h2>{{ restaurant.nom }}</h2>
            <p>{{ restaurant.adresse }} {{restaurant.codePostal ~ " " ~ restaurant.ville }}</p>
            <div class="flex gap justify-end">
                {% if pagination.getTotalItemCount == 0 %}
                <a id="button_suppresion" class="button third" href="{{ path('restaurant_delete',{ "id": restaurant.id }) }}" title="Supprimer le restaurant">Supprimer</a>
                {% endif %}
                <a class="button primary" href="{{ path('restaurant_edit',{ "id": restaurant.id }) }}" title="Modifier le restaurant">Modifier</a>
            </div>
	</div>
    <div class="filtres large-12-12 flex justify-center gap">
        {{ form_start(formSearch, {'attr': {'class': 'large-11-12'}}) }}
        {{ form_row(formSearch.search, {'attr': {'placeholder': 'Nom, prénom ou email...'}}) }}
        {{ form_row(formSearch.fonction) }}
        {{ form_row(formSearch.date) }}
        {{ form_row(formSearch._token) }}
        {{ form_row(formSearch.submit) }}
        {{ form_end(formSearch, {'render_rest': false}) }}
    </div>
	<section class="liste-restaurant large-12-12 flex gap justify-between">
		{% for affectation in pagination.items %}
            {% include "affectation/_affectation.html.twig" %}
		{% endfor %}
	</section>
	<div class="navigation large-12-12 flex justify-between">
		{{ knp_pagination_render(pagination) }}
        <div>
            {% if pagination.getItemNumberPerPage > pagination.getTotalItemCount %}
            {{ pagination.getTotalItemCount }}
            {% else %}
            {{ pagination.getItemNumberPerPage }}
            {% endif %}
            Résultats par page - Total de
            {{ pagination.getTotalItemCount }}
            résultats
        </div>
	</div>
</div>
<script>
    // Récupère le jeton CSRF
    const csrfToken = '{{ csrf_token('delete' ~ restaurant.id) }}';
</script>
{% endblock %}
